<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"
    xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
    <TotalTime>31</TotalTime>
    <Words>88</Words>
    <Application>Microsoft Office PowerPoint</Application>
    <PresentationFormat>Widescreen</PresentationFormat>
    <Paragraphs>71</Paragraphs>
    <Slides>6</Slides>
    <Notes>6</Notes>
    <HiddenSlides>0</HiddenSlides>
    <MMClips>0</MMClips>
    <ScaleCrop>false</ScaleCrop>
    <HeadingPairs>
        <vt:vector size="6" baseType="variant">
            <vt:variant>
                <vt:lpstr>Fonts Used</vt:lpstr>
            </vt:variant>
            <vt:variant>
                <vt:i4>8</vt:i4>
            </vt:variant>
            <vt:variant>
                <vt:lpstr>Theme</vt:lpstr>
            </vt:variant>
            <vt:variant>
                <vt:i4>1</vt:i4>
            </vt:variant>
            <vt:variant>
                <vt:lpstr>Slide Titles</vt:lpstr>
            </vt:variant>
            <vt:variant>
                <vt:i4>6</vt:i4>
            </vt:variant>
        </vt:vector>
    </HeadingPairs>
    <TitlesOfParts>
        <vt:vector size="15" baseType="lpstr">
            <vt:lpstr>Adobe Fan Heiti Std B</vt:lpstr>
            <vt:lpstr>Adobe Garamond Pro Bold</vt:lpstr>
            <vt:lpstr>Agency FB</vt:lpstr>
            <vt:lpstr>Algerian</vt:lpstr>
            <vt:lpstr>Arial</vt:lpstr>
            <vt:lpstr>Calibri</vt:lpstr>
            <vt:lpstr>Calibri Light</vt:lpstr>
            <vt:lpstr>Tahoma</vt:lpstr>
            <vt:lpstr>Office Theme</vt:lpstr>
            <vt:lpstr>Hello {{title}}</vt:lpstr>
            <vt:lpstr>Hello {{title2}}</vt:lpstr>
            <vt:lpstr>Hello {{title}}</vt:lpstr>
            <vt:lpstr>PowerPoint Presentation</vt:lpstr>
            <vt:lpstr>PowerPoint Presentation</vt:lpstr>
            <vt:lpstr>PowerPoint Presentation</vt:lpstr>
        </vt:vector>
    </TitlesOfParts>
    <Company></Company>
    <LinksUpToDate>false</LinksUpToDate>
    <SharedDoc>false</SharedDoc>
    <HyperlinksChanged>false</HyperlinksChanged>
    <AppVersion>16.0000</AppVersion>
</Properties>